@font-face {
    font-family: Nike Futura ND;
    font-weight: 900;
    font-style: normal;
    src: url('FuturaNDforNike365Cn-XBd.woff2');
}
@font-face {
    font-family: Helvetica Neue;
    font-weight: 400;
    font-style: normal;
    src: url('HelveticaNeue.woff2');
}
@font-face {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: normal;
    src: url('HelveticaNeue-Medium.woff2');
}
@font-face {
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: normal;
    src: url("HelveticaNeue-Bold.woff2");
}
.font_nike { font-family: Nike Futura ND; font-weight: 900; }
.font_hnreg { font-family: Helvetica Neue; font-weight: 400; }
.font_hnmed { font-family: Helvetica Neue; font-weight: 500; }
.font_hnbold { font-family: Helvetica Neue; font-weight: 700; }

.ad_size {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
/* Headlines/Logo */
.hl_logo_cont {
    position: absolute;
    left: 9px;
    top: 0px;
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 4px;
}
.hl_0 {
    width: inherit;
    max-height: 56px;
    font-size: 25px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #000;
}
.hl_0 span { line-height: 0.9em; }
.logo_svg { display: none; }
.logo_nike { 
    position: relative;
    width: 36px; 
    height: 16px;
    left: 2px;
    margin-top: 7px;
}
/* Countdown Timer */
.cdt_cont {
    position: absolute;
    left: 145px;
    bottom: 11px;
    width: 76px;
    height: 37px;
    align-items: center;
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    border: 1px solid #000;
}
.timer_txt {
    width: inherit;
    height: 18px;
    font-size: 7px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 2px;
}
.timer_txt span { line-height: 1em; }
.time_cont {
    width: inherit;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}
.time_num, .time_txt {
    height: inherit;
    font-size: 13px;
    letter-spacing: 0.01em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time_num { width: 21px; color: #fff; background: #000; }
.time_txt { width: 17px; color: #000; }
/* Apparel Images */
.app_cont {
    position: absolute;
    left: 191px;
    top: 0px;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}
.app_imgs_cont {
    width: 90px; 
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.app_imgs {  
    width: auto;
    height: 100%;
    object-fit: cover;
}
/* Footwear Images */
.fw_cont {
    position: absolute;
    left: 150px;
    top: 0px;
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.fw_imgs_cont {
    width: 120px;
    height: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.fw_imgs {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Subheadines */
.sub_wrap {
    position: absolute;
    right: 187px;
    top: 0px;
    width: 148px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}
.sub_cont {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sub_txt_2 {
    width: 148px;
    font-size: 12px;
    letter-spacing: -0.05em;
    line-height: 1.2em;
    text-align: center;
    color: #000;
}
/* Price */
.price_cont {
    max-height: 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.price_reg {
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}
.price_sale {
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
    margin-top: -2px;
}
.strike { position: relative; }
.strike::before{
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 55%;
    border-bottom: 1px solid #000;
}
.txt_promo {
    width: 148px;
    font-size: 12px;
    letter-spacing: -0.07em;
    line-height: 1em;
    text-align: center;
    color: #000;
    display: none;
}
/* CTA */
.cta_cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 44px;
    top: 28px;
    width: 120px;
    height: 34px;
    border-radius: 17px;
    background: #000;
    padding: 1px 2px 2px;
}
.ctas {
    font-size: 13px;
    letter-spacing: -0.02em;
    line-height: 1em;
    text-align: center;
    color: #fff;
}
/* Ticker */
.ticker_cont {
    position: absolute;
    right: -34px;
    top: 34px;
    width: 90px;
    height: 22px;
    overflow: hidden;
    transform: rotate(90deg);
}
.ticker {
    position: absolute;
    left: 0px;
    top: 0px;
    width: auto;
    height: 21px;
    opacity: 0;
    display: flex;
    padding: 0px 4px;
}
.ticker_div {
    width: auto;
    height: inherit;
    display: flex;
    align-items: center;
}
.logo_ticker { width: 27px; height: 10px; }
.sale_txt,.sale_percent {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1em;
    text-align: center;
    height: 16px;
    white-space: nowrap;
}
.sale_txt { margin-left: 20px; margin-right: 4px; }
.sale_percent { margin-right: 20px; }
.lh_125 span { line-height: 1.25em; }
/* Browser Adjustments */
.cta_cont.macSafari{
    padding: 2px 4px 4px;
}
.cta_cont.macFirefox, .cta_cont.winFirefox {
    padding: 2px 4px 5px;
}